@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

body {
  background: #e7e7e9;
  font: normal 12px "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #414244; }

input, textarea, select {
  font-size: 100%; }

input, textarea, select, button {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

input[type=text], input[type=password], input[type=submit], textarea, select, button {
  -webkit-appearance: none; }

img {
  max-width: 100%;
  line-height: 0; }

a img {
  border: none; }

p, table, dl, fieldset {
  margin: 0 0 10px 0; }

h1, .h1 {
  margin: 15px 0 10px 0;
  font-weight: normal;
  font-size: 22px; }

h2, .h2 {
  margin: 25px 0 10px 0;
  font-weight: normal;
  font-size: 15px; }

* h2:first-child, * .h2:first-child {
  margin: 0 0 10px 0; }

h3, .h3 {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 14px; }

a {
  color: #0091c8;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #006c95;
  text-decoration: underline; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  padding: 5px 8px;
  text-align: left;
  vertical-align: top; }

thead th {
  padding: 3px 8px;
  border-bottom: 2px solid #0091c8; }

tbody th, td {
  border-top: 1px solid #e2e2e4; }

dt {
  float: left;
  margin: 0 5px 0 0; }

fieldset {
  padding: 5px 10px;
  border: 1px solid #e2e2e4; }

legend {
  padding: 0 5px;
  line-height: 1; }

address {
  font-style: normal; }

hr, .hr {
  height: 1px;
  margin: 10px 0;
  border-top: #e2e2e4;
  background: #e2e2e4;
  color: #e2e2e4; }

.ie :button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

::-moz-selection {
  background: #f15c22;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f15c22;
  color: #fff;
  text-shadow: none; }

::-webkit-input-placeholder {
  color: #d3d3d5; }

::-moz-placeholder {
  color: #d3d3d5; }

:-ms-input-placeholder {
  color: #d3d3d5; }

input:-moz-placeholder {
  color: #d3d3d5; }

article, aside, footer, header, hgroup, nav, section {
  display: block; }

nav li {
  padding: 0;
  background: none; }

nav a:hover, nav a:focus, nav a:active {
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 100%; }

.container {
  margin: 10px 0 0 0;
  padding: 10px;
  border: 3px solid #e2e2e4;
  background: #fff; }

.container:first-child {
  margin: 0; }

.container > *:last-child {
  margin: 0; }

#planet-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.planet {
  position: absolute;
  width: 34px;
  height: 34px;
  background: #d3d3d5;
  border-radius: 34px; }

.planet.active:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: -1;
  width: 42px;
  height: 42px;
  display: block;
  border: 2px dashed #f15c22;
  border-radius: 42px;
  -webkit-animation: rotate 35s infinite linear; }

#planet-01 {
  top: 120px;
  left: 35px; }

#planet-02 {
  top: 591px;
  left: 24px; }

#planet-03 {
  top: 156px;
  left: 895px; }

#planet-04 {
  top: 326px;
  left: 495px; }

#planet-05 {
  top: 36px;
  left: 266px; }

#player-container > div {
  padding: 5px 0;
  border-top: 1px solid #e2e2e4; }

#player-container > div:first-child {
  padding: 0 0 5px 0;
  border: 0; }

#player-container > div:last-child {
  padding: 5px 0 0 0; }
