// Fonts
// -------------------------------------------------------------------------------------
$font-default: 'Segoe UI', Arial, sans-serif;

// Colors
// -------------------------------------------------------------------------------------
$grey-light: 		#f8f8f8;
$grey-lighter: 	#ccc;
$grey: 					#333;
$grey-darker:		#333;
$grey-dark: 		#333;

$blue:				#0091c8;
$blue-dark:		#007dad;

$green:				#c1c923;
$pink:				#f41c54;

$yellow:			#fff911;
$yellow-dark:	#f5e100;