// Fonts
// -------------------------------------------------------------------------------------
$font-default: 'Segoe UI', Arial, sans-serif;

// Colors
// -------------------------------------------------------------------------------------
$grey-light: 		#e7e7e9;
$grey-lighter: 	#e2e2e4;
$grey: 					#d3d3d5;
$grey-darker:		#636466;
$grey-dark: 		#414244;

$blue:				#0091c8;
$blue-dark:		#007dad;

$orange:			#f15c22;
$orange-dark:	#c65e37;

// Animation
// -------------------------------------------------------------------------------------
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}