<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Universe</title>

		<link rel="stylesheet" href="/css/screen.css" />
	</head>
	<body>

		<script type="text/template" id="tmpl-storage-resource">
			<ul class="attributes">
				<li>
					<span class="attributes-title">Name:</dt>
					<span class="attributes-data"><%= resource.get('name') %></span>
				</li>
				<li>
					<span class="attributes-title">Wert:</dt>
					<span class="attributes-data"><%= resource.get('value') %></span>
				</li>
			</ul>
		</script>

		<!-- <button class="action-button-pause">Pause</button> -->

		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript type="text/javascript" src="/js/libraries/jquery-2.1.0.min.js"%3E%3C/script%3E'))</script>

		<!-- // <script type="text/javascript" src="/js/libraries/handlebars-1.1.2.js"></script> -->
		<script type="text/javascript" src="/js/libraries/underscore-1.6.0.js"></script>
		<script type="text/javascript" src="/js/libraries/backbone-1.1.2.js"></script>

		<script type="text/javascript" src="/js/Namespace.js"></script>
		<script type="text/javascript" src="/js/Fixtures.js"></script>
		<script type="text/javascript" src="/js/Application.js"></script>
		<script type="text/javascript" src="/js/Resource.js"></script>
		<script type="text/javascript" src="/js/ResourceWorker.js"></script>

		<script type="text/javascript">
			$(function() {
				var Page 		= $('body');
				var OreDeposit	= Universe.Factory.getResource().get(1);
				var Ore					= Universe.Factory.getResource().get(2);

				var StorageOreDeposit = new Universe.Models.StorageResource({
					extend: OreDeposit,
					value: 6
				});

				var StorageOre = new Universe.Models.StorageResource({
					extend: Ore
				});

				OreDepositWorker = new Universe.ResourceWorkerItem({
					model: StorageOreDeposit,
					value: StorageOreDeposit.get('value'),
					rate: -0.5,
					min: 0,

					onMin: function() {
						OreWorker.set('pause', true);
					}
				});

				OreWorker = new Universe.ResourceWorkerItem({
					model: StorageOre,
					value: StorageOre.get('value'),
					rate: 0.5,
					max: 3,

					onMax: function() {
						console.log('Warenabholung');
						this.value = 0;
						this.pause = false;
					}
				});

				Universe.Factory.getResourceWorker().add(OreWorker);
				Universe.Factory.getResourceWorker().add(OreDepositWorker);

				var collection = new Universe.Collections.StorageResource();
						collection.add(StorageOreDeposit);
						collection.add(StorageOre);

				var view = new Universe.Views.StorageResourceCollection({
					collection: collection
				});
				Page.append(view.render());

				// var pause = false;
				// $('.action-button-pause').bind('click', function() {
				// 	if(pause === true) {
				// 		Worker.set('pause', false);
				// 		pause = false;
				// 	} else {
				// 		Worker.set('pause', true);
				// 		pause = true;
				// 	}
				// });
			});
		</script>
	</body>
</html>